In [118]:
import numpy as np # used for scientific computing
import pandas as pd # used for data analysis and manipulation
import matplotlib.pyplot as plt # used for visualization and plotting
import matplotlib.cm as cm
import scipy as sp
from sklearn.tree import DecisionTreeClassifier as dtc
from sklearn import tree
from sklearn import metrics
from sklearn.model_selection import train_test_split

In [119]:
df = pd.read_csv('bank_marketing.csv')
df

,age,job,marital,education,default,housing,loan,contact,season,week_part,campaign,deposit,train
0,2,1,1,4,0,1,0,1,2,2,1,0,0
1,3,2,2,5,0,0,0,2,2,2,1,0,0
2,1,2,1,5,0,1,0,2,3,1,1,0,0
3,3,3,1,7,0,1,0,1,1,1,1,0,1
4,2,2,2,7,0,0,0,1,4,2,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3085,2,3,1,3,0,1,1,1,3,2,1,0,1
3086,3,3,1,5,0,1,0,2,3,2,1,0,1
3087,2,8,2,5,0,0,0,1,2,1,1,0,1
3088,5,3,1,5,0,0,0,1,3,2,1,0,0
3089,2,7,2,5,0,1,0,1,1,1,1,0,1

In [120]:
# # Making sure the last column will hold the labels
# data = df.dropna(axis=1)
# X, y = data.drop('class', axis=1), data['class']
# X = np.column_stack([X,y])
# # split dataset using random_state to get the same split each time
# X_train, X_test = train_test_split(X, random_state=99)
X_train, X_test = df[df['train'] == 1], df[df['train'] == 0]
X_train.shape[0], X_test.shape[0]

(2163, 927)

In [121]:
X_test.shape[1]-2

11

In [122]:
X_train = np.delete(X_train, 12, axis=1)
X_test = np.delete(X_test, 12, axis=1)
np.savetxt("foo.csv", X_train, delimiter=",")
X_train.shape[1],X_test.shape[1]

(12, 12)